RewriteEngine On
RewriteCond %{HTTP_HOST} ^almanac\.article19\.org [NC]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]*[^./])$ https://%{SERVER_NAME}/$1.html [R=301,L]

RewriteRule ^ietf-adaptative-dns-discovery.html$ /group/ietf-add.html [R=301,L]
RewriteRule ^ietf-deterministic-networking.html /group/ietf-detnet.html [R=301,L]
RewriteRule ^ietf-dns-privacy-exchange.html /group/ietf-dprive.html [R=301,L]
RewriteRule ^ietf-domain-name-system-operations.html /group/ietf-dnsop.html [R=301,L]
RewriteRule ^ietf-limited-additional-mechanisms-pkix-smime.html /group/ietf-lamps.html [R=301,L]
RewriteRule ^ietf-messaging-layer-security.html /group/ietf-mls.html [R=301,L]
RewriteRule ^ietf-multiplexed-app-substrate-quic.html /group/ietf-masque.html [R=301,L]
RewriteRule ^ietf-network-virtualization-overlays.html /group/ietf-nvo3.html [R=301,L]
RewriteRule ^ietf-oblivious-http-application-intermediation.html /group/ietf-ohai.html [R=301,L]
RewriteRule ^ietf-path-computation-element.html /group/ietf-pce.html [R=301,L]
RewriteRule ^ietf-privacy-pass.html /group/ietf-privacypass.html [R=301,L]
RewriteRule ^ietf-privacy-preserving-measurement.html /group/ietf-ppm.html [R=301,L]
RewriteRule ^ietf-quic.html /group/ietf-quic.html [R=301,L]
RewriteRule ^ietf-real-time-communication-web-browser.html /group/ietf-rtcweb.html [R=301,L]
RewriteRule ^ietf-transport-layer-security.html /group/ietf-tls.html [R=301,L]
