AuthType Basic
AuthName "restricted access"
AuthUserFile /domains/almanac.article19.org/.htpasswd
require valid-user

RewriteEngine On
RewriteCond %{HTTP_HOST} ^almanac\.article19\.org [NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]*[^./])$ https://%{SERVER_NAME}/$1.html [R=301,L]
