---
layout: default
title: "Internet Standards Almanac"
breadcrumbs: false
---
<div class="section" id="intro">
    <div class="section-content grid">
        <div id="main-text">
            <b>Introduction</b>
            <i>Lorem</i> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-reading-flat.png" alt="Catnip reading How the Internet Really Works" width="240" />
    </div>
</div>
<div class="section" id="org-list">
    <div class="section-content grid">
        {% for org in site.orgs %}
            {% include org_loop.html %}
        {% endfor %}
    </div>
</div>
