{% if page.breadcrumbs != false %}
    <div id="breadcrumbs">
        <span class="crumb"><a rel="nofollow" href="{{ site.url }}">All organisations</a></span>
        {% if page.org-full-name %}
            {% assign org = page.org %}
            {% case org %}
            {% when '3gpp' %}
                {% assign link = "8_3gpp" %}
            {% when 'atis' %}
                {% assign link = "8_atis" %}
            {% when 'cen-cenelec' %}
                {% assign link = "9_cen-cenelec" %}
            {% when 'etsi' %}
                {% assign link = "90_etsi" %}
            {% when 'ieee' %}
                {% assign link = "4_ieee" %}
            {% when 'ietf' %}
                {% assign link = "3_ietf" %}
            {% when 'irtf' %}
                {% assign link = "2_irtf" %}
            {% when 'iso-iec' %}
                {% assign link = "5_iso" %}
            {% when 'itu-t' %}
                {% assign link = "6_itu-t" %}
            {% when 'itu-r' %}
                {% assign link = "7_itu-r" %}
            {% when 'w3c' %}
                {% assign link = "1_w3c" %}
            {% else %}
                {% assign link = page.org %}
            {% endcase %}
        <span class="crumb"><a rel="nofollow" href="{{ site.url }}/orgs/{{ link }}.html">{{ page.org-full-name }}</a></span>
        {% endif %}
    {% if page.guess-whoexists %}
        <span class="switcher"><a href="{{ site.url }}/guess-who-dashboard.html" title="Look up who leads, speaks, and publishes most in this group">Who dominates this group?</a></span>
    {% endif %}
    </div>
{% endif %}

{% if page.sitearea == "guess-who" %}
    <div id="breadcrumbs">
    {% if page.sitearea == "guess-who" %}
        {% if page.layout == "guess-who-overview" %}
        <span class="crumb"><a href="{{ site.url }}/guess-who.html" title="Guess who! landing page">Guess who!</a></span>
        {% else %}
        <span class="crumb"><a href="{{ site.url }}/guess-who.html" title="Guess who! landing page">Guess who!</a></span>
        <span class="crumb"><a href="{{ site.url }}/{{ page.url }}">{{ page.title }}</a></span>
        {% endif %}
    {% endif %}
    {% if page.loadjsoverview %}
        <span class="switcher gw"><a href="{{ site.url }}/guess-who-dashboard.html" title="Look up who leads, speaks, and publishes in this SDO's working groups">Investigate dashboard</a></span>
    {% endif %}
    {% if page.loadjsdashboard %}
        <span class="switcher"><a href="{{ site.url }}/group/" class="button" id="almanaclink" title="Look up this working group in the almanac">Look up in Almanac</a></span>
    {% endif %}
    </div>
{% endif %}
