<div id="main-text">
    <h2 class="title">On our research about which actors are most dominant in internet standards setting</h2>
    <p>
        <b>About this research</b> sort of introductory text.
        <br><b>Authorship</b> The authorship graph shows participation of actors and their affiliation in writing RFC drafts in a working group over time.
        <br><b>Influence</b> The influence graph shows the amount of emails sent to working group related mailing lists over time. Or: who generated most noise?
        <br><b>Leadership</b> The leadership graph shows the chairs of a working group and their affiliation.
    </p>
</div>
<img src="{{ site.url }}/assets/images/catnip-mallory/catnip-about.png" alt="Catnip illuminated by BigBang" />
