    <div id="footer">
        <p>
        Text and analysis ©ARTICLE 19,&nbsp;2023-2024<br>
        <a href="{{ site.url }}/imprint.html" rel="nofollow">Imprint & License</a><br>
        </p>

        <a href="https://article19.org" class="logo"><img src="{{ site.url }}/assets/images/logo/article19.svg" alt="Logo ARTICLE 19"></a>
    </div>
    {% include navigation-main.html %}
    {% if page.sitearea == "viz" %}
        {% include navigation-viz.html %}
    {% else %}
        {% include navigation.html %}
    {% endif %}
    <script src="{{ site.url }}/assets/js/lib/jquery-3.4.1.min.js"></script>
    <script src="{{ site.url }}/assets/js/init.js"></script>
    {% if page.loaddashboard %}
    <script src="{{ site.url }}/assets/js/dashboard.js"></script>
    {% endif %}
  </body>
</html>
