    <h2 class="title">How we developed these maps</h2>

    <p>Technical standardisation is a critical stage in the design and
    development of internet infrastructure technologies before they are
    deployed in the real world. These standards have implications for all users
    of the internet, on issues such as data governance, confidentiality, and
    anonymity.  Due to their normative nature, technical standards can
    legitimise the development of technologies or give companies a competitive
    advantage in the market. As such, these technical details influence the
    extent to which internet technologies enable or threaten human rights.
    </p>

    <p>Engaging in internet standards developing organisations (SDOs) provides
    an opportunity for civil society to collaborate with the technical
    community to influence the development of technologies. While SDOs
    increasingly recognise how their decisions influence the extent to which
    the Internet facilitates the free and full expression of human rights,
    human rights considerations can remain narrow and culturally specific, and
    are not fully integrated or embedded in technical standardisation. Civil
    society needs to play a more important role in ensuring that the technical
    community (including designers and developers) and in encoding human rights
    implications in these decision-making processes.  </p>

    <p>Despite the fact that many SDOs aim to maintain open deliberation and
    consensus-driven decision-making processes, particular actors
    dominate this process. For example, contributions from engineers
    representing industry heavyweights like Google, Microsoft, or Apple receive
    greater attention as compared to civil society’s contributions. The big
    players thereby exert an undue influence on which proposals and
    interventions are considered for standards development. This dominance
    reduces civil society’s ability to effectively engage in and contribute to
    decision-making processes within these organisations.  </p>

    <p>By understanding which industry actors dominate groups and committees,
    civil society can identify where these actors are more likely to
    standardise adversarial technologies and dedicate resources to push back
    against these technologies before they are deployed. Furthermore, civil
    society can identify potential allies to work with when seeking to reform
    or strengthen technical standards that respect human rights.</p>

    <p>In order to analyse how actors influence technical standardisation, ARTICLE 19
        looked into:</p>
