<div id="main-text">
    <h2 class="title">Learn how we developed these maps</h2>

    <p><b>Technical standardisation is a critical stage in the design and
        development of internet infrastructure technologies before they are
    deployed in the real world.</b> While many standards developing organisations
    aim to maintain open deliberation and consensus-driven decision-making
    processes, there are particular actors that are more dominant than others
    in this process. These actors define and influence which proposals and
    interventions are taken into consideration for standards development. The
    participation of these dominant actors in the development of technical
    standards significantly affects how civil society can effectively engage
    and contribute to decision-making processes within these organisations.</p>

    <p><b>By understanding where industry actors dominate groups and committees</b>,
    civil society can identify where these actors are more likely to
    standardise adversarial technologies and dedicate resources to push back
    against these technologies before they are deployed. Furthermore, civil
    society can identify potential actors, based on aligned interests, to work
    alongside and strategise with when intervening on proposals and drafts that
    have human rights implications.</p>

    <p><b>From ARTICLE 19’s experience engaging in SDOs, we observed that powerful
        actors often exert their dominance</b> by chairing a high number of working
    groups or committees, successfully authoring a high number of standards,
    and actively engaging in the development of standards. Therefore, we ask
    the question: which actors dominate the development of Internet standards
    in SDOs?</p>

    <p><b>In order to analyse how actors influence technical standardisation, we
        looked into:</b></p>

</div>
<img src="{{ site.url }}/assets/images/catnip-mallory/catnip-about.png" alt="Catnip illuminated by BigBang" />
