<nav id="primary-menu" class="menu">
  <ul class="main-menu">
  {% assign items = site.data.navigation %}
  {% for item in items %}
    <li {% if page.url == item.link %}class="current-item"{% endif %}
        {% if item.link contains page.menu-category %}class="current-item"{% endif %}
        >
        {% if item.subfolderitems %}
            <span>{{ item.name }}</span>
            <ul>
                {% for entry in item.subfolderitems %}
                <li><a href="{{ entry.link }}">{{ entry.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
        <a href="{{ item.link }}">{{ item.name }}</a>
        {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
