    <span class="spacer"></span>

    <div class="section-content grid dom-bottom-links">
        <h2 class="title">Curious to explore more?</h2>
        <p>
        <a href="{{ site.url }}/dom-overview.html"{% if page.url == "/dom-overview.html" %} class="current-item"{% endif %}>
                <span class="button">Guess who! Overview</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-overview.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="{{ site.url }}/dom-dashboard.html"{% if page.url == "/dom-dashboard.html" %} class="current-item"{% endif %}>
                <span class="button">Explore the data dashboard</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-dashboard.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="{{ site.url }}/dom-about.html"{% if page.url == "/dom-about.html" %} class="current-item"{% endif %}>
                <span class="button">Learn more about our research</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-about.jpg" alt="" />
            </a>
        </p>
    </div>
