    <span class="spacer"></span>

    <div class="section-content grid guess-who-bottom-links">
        <h2 class="title">Curious to explore more?</h2>
        <p>
        <a href="{{ site.url }}/guess-who-overview.html"{% if page.url == "/guess-who-overview.html" %} class="current-item"{% endif %}>
                <span class="button">Guess who! Overview</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-overview.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="{{ site.url }}/guess-who-dashboard.html"{% if page.url == "/guess-who-dashboard.html" %} class="current-item"{% endif %}>
                <span class="button">Uncover that data with our dashboard</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-dashboard.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="{{ site.url }}/guess-who-about.html"{% if page.url == "/guess-who-about.html" %} class="current-item"{% endif %}>
                <span class="button">Learn how we developed these maps</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-about.jpg" alt="" />
            </a>
        </p>
    </div>
