<div class="org" id="org-{{ org.org }}">
    <div class="description">
        {% if org.featured-img %}
            <img class="img-org" src="{{ site.url }}/{{ org.featured-img }}" alt="{{ org.title }} working groups"/>
        {% endif %}

        {% if org.excerpt %}
            <div class="excerpt">
                <div>
                    <a class="permalink" href="{{site.url}}{{org.url}}">{{ org.title }}</a>
                    <p>{{ org.excerpt }}</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
