@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url("/assets/css/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("/assets/css/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}


:root {
  --bg: #fff;
  --colourtext: #101820; /* blackish */
  --colour1: #d62d26; /* ART19 red */
  --colour2: rgb(0,148,110); /* ART19green */
  --colour3: #287758; /* darkergreen */
  --hspace: 4vw;
  --vspace: 3vh;
  --basefontsize: 17px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bg);
}

body {
    font-size: var(--basefontsize);
    line-height: 150%;
    font-family: "RobotoSlab", serif;
    font-variation-settings: "wght" 360;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-kerning: normal;
    font-variant: common-ligatures tabular-nums;
    font-optical-sizing: auto;
    overflow-x: hidden;
    color: var(--colourtext);
    min-height: 100vh;
    shape-rendering: crispedges;
    text-rendering: optimizeLegibility;
}

b, strong {
    font-weight:  normal;
    font-variation-settings: "wght" 450;
}

img {
    max-width: 100%;
    /*background: url(/assets/images/loader.gif) no-repeat center center;*/
}

ul {
    list-style: disc;
    margin-left: 1.5em;
}

ol {
    margin-left: 1em;
}

blockquote {
    margin: 0 3em 3em;
    padding-left: 1em;
}

blockquote, ul, ol {
    margin-bottom: 1em;
}

pre {
    overflow: auto;
}

/************************************
 Backgrounds
 ***********************************/

body {
    /*background: var(--bg) url(backgrounds/structure1.svg) repeat-x left -15px;*/
    min-height: 100vh;
    background: var(--bg);
}

#content {
    background: linear-gradient(180deg, #f8768a 30%, #fff 60%);
    background-size: 100% 400%;
    animation: breathe 25s linear infinite;
}

@keyframes breathe {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 0% 65%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

#intro, #post {
    background-image: url(backgrounds/layer2repeatable.svg), url(backgrounds/layer1repeatable.svg);
    background-position: left bottom, left bottom;
    background-repeat: repeat-x, repeat-x;
    padding-bottom: 0;
}

.home #intro {
    padding-bottom: 20px;
}

.post #intro {
    background-image: url(backgrounds/layer6repeatable.svg), url(backgrounds/layer1repeatableshort.svg);
    margin-bottom: -1px;
}

.org #post {
    background-image: url(backgrounds/layer6repeatable-old.svg), url(backgrounds/layer1repeatableshort.svg);
    margin-bottom: -1px;
}

#post-list, #org-list {
    background: rgb(0, 148, 110) url(backgrounds/structure2.svg);
}

#org-list #org-w3c::after {
    content: url(backgrounds/layer4.svg);
    margin-left: calc(var(--hspace)*-1);
    position: absolute;
    transform: rotate(180deg);
    left: -70%;
}

#org-list #org-ieee::after {
    content: url(backgrounds/layer5.svg);
    position: absolute;
    left: -12%;
}

#org-list #org-irtf::before {
    content: url(images/tree.svg);
}

#org-list #org-irtf::after {
    content: url(backgrounds/layer7.svg);
    margin-left: calc(var(--hspace)*-1);
    position: absolute;
    transform: rotate(180deg);
    left: -8%;
}
#org-list #org-itu-t::before {
    content: url(images/tree-monstera.svg);
    display: block;
    margin: auto;
    text-align: center;
}

#org-list #org-itu-t::after {
    content: url(backgrounds/layer4.svg);
    right: calc(var(--hspace)*-1);
    position: absolute;
}
#org-list #org-3gpp::after {
    content: url(backgrounds/layer7.svg);
    margin-left: calc(var(--hspace)*-1);
    position: absolute;
    transform: rotate(180deg);
}

#org-list #org-atis::before {
    content: url(images/tree-leaves.svg);
    display: block;
    margin: auto;
    text-align: center;
}

.desktop #post-list .post:nth-child(4)::after {
    content: url(backgrounds/layer7.svg);
    margin-left: calc(var(--hspace)*-1);
    position: absolute;
}

.desktop #post-list .post:last-child::after {
    content: "";
    margin-left: unset;
}

@media all and (min-width: 841px) {
    #contributors #intro::after,
    #methodology #intro::after {
        grid-column-start: 2;
    }
}

.tag #intro::after {
    content: url(images/tree-monstera.svg);
    display: block;
    text-align: center;
}

a {
    outline: none;
    background: var(--colour3);
    color: #fff;
    text-decoration: none;
}

.site-title a, #footer a.logo {
    background: none;
    padding-right: 0;
}

#main-text a, #footer p a, .bubble a {
    padding: 0 0.25em;
}

.glossary {
    font-style: italic;
    cursor: help;
}

/*************************************
  Forms
  ***********************************/

label {
    font-size: 1em;
    cursor: pointer;
}

label input {
    vertical-align: middle;
    margin-right: 0.5em;
}

textarea:focus,
input[type=text]:focus,
input[type=email]:focus {
    outline: none;
}

textarea,
input[type=text],
input[type=email] {
    font-size: 1rem;
    background: rgb(17,17,17);
    border: none;
    border-bottom: 1px solid var(--colour1);
    color: var(--colourtext);
    width: 100%;
    display: block;
    padding: 0.5em 0;
    margin-bottom: 2em;
}

textarea {
    min-height: 6em;
}

input[type=submit] {
    background: transparent;
    cursor: pointer;
    display: block;
    margin-top: 2em;
    float: right;
}

/*************************************
  Structure
  ***********************************/

#content {
    padding-top: var(--hspace);
}

#footer {
    text-align: right;
    background-image: url(backgrounds/layer8repeatable.svg);
    background-position: left -2px;
    background-repeat: repeat-x;
    background-size: contain;
}

#footer p {
    float: left;
    text-align: left;
    margin-left: var(--hspace);
    margin-top: calc(1.5 * var(--hspace));
    padding-bottom: var(--hspace);
    font-size: 0.85em;
    line-height: 1.3em;
}

#footer a.logo {
    padding: 2em 1.5em 0 0;
}

.section-content {
    margin: 0 auto;
    padding: 0 var(--hspace) 3em;
}

.grid {
    display: grid;
}

/*************************************
  Nav: Breadcrumbs
  ***********************************/

#breadcrumbs {
    margin-bottom: 1em;
}

#breadcrumbs .crumb {
    display: block;
    background-image: url("images/arrow-up.svg");
    background-repeat: no-repeat;
    background-position: 0 6px;
    background-size: 12px 12px;
    padding-left: 18px;
    margin-bottom: 0.3em;
}

#breadcrumbs .crumb:first-child {
    background-image: none;
    padding-left: 0;
}

#breadcrumbs .crumb a {
    color: var(--bg);
    background: var(--colour3);
    text-decoration: none;
    transition: background .5s ease-in-out;
}

#breadcrumbs .crumb a:hover {
    background: var(--colour2);
}

/*************************************
  Nav: Menu
  ***********************************/

#primary-menu {
    background: rgb(0,148,110);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: var(--hspace);
    box-sizing: border-box;
    z-index: 4;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

#primary-menu, #primary-menu a {
    color: #fff;
}

#primary-menu li {
    display: block;
}

#primary-menu #site-title {
    height: 30%;
    margin: 0;
}

#primary-menu .main-menu {
    overflow-y: auto;
    height: 60vh;
}

.main-menu {
    -ms-overflow-style: none;  /* Hide scrollbar IE10+ */
    scrollbar-width: none;  /* Hide scrollbar Firefox */

}
.main-menu::-webkit-scrollbar {
    display: none; /* Hide scrollbar webkit */
}

#primary-menu img {
    position: absolute;
    bottom: var(--vspace);
    right: var(--vspace);
    height: 10vh;
}

.menu ul {
   list-style: none;
   margin: 0;
}

.menu li ul {
    display: none;
    margin: 0.5em 0 0 1.5em;
}

.menu li > a, .menu li > span {
    text-transform: uppercase;
    font-size: calc(var(--basefontsize) * 1.5);
    line-height: 1.5em;
    background: rgba(0,0,0,0.2);
    margin-bottom: 0.5em;
    padding: 0.5em;
    display: block;
    text-decoration: none;
}

.menu li a:hover, .menu li span:hover, .menu .current-item a {
    background: rgba(0,0,0,0.3);
}
.menu li li a {
    text-transform: none;
    font-size: calc(var(--basefontsize)*1.2);
    margin-bottom: calc(var(--hspace)/5);
}

/*************************************
 Menu animaton
 ************************************/

.mobile-menu-toggle {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: calc(var(--hspace) + 5px);
    right: var(--hspace);
    z-index: 11;
}

.toggler {
    position: relative;
    z-index: 10;
    background: url(images/menu.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.darkbg .toggler {
    background-image: url(images/menu-white.svg);
}

.mobile-menu-toggle input {
    position: absolute;
    z-index: 11;
    width: 80px;
    height: 23px;
    display: block;
    cursor: pointer;
    opacity: 0;
}

/* activation */

#primary-menu {
    transition: top .5s ease-in-out;
    top: -100vh;
}

.mobile-menu-toggle input:checked ~ #primary-menu {
    top: 0;
}

.mobile-menu-toggle input:checked ~ .toggler.menu-action {
    background-image: url(images/menu-close.svg);
}

.mobile-menu-toggle input:checked ~ .toggler.menu-action span {
    display: none;
}

/*************************************
  Content
  ***********************************/

.site-title {
    font-family: "Roboto", sans-serif;
    font-variation-settings: "wght" 250;
    font-weight: normal;
    letter-spacing: 0.1em;
    font-size: 2.3em;
    line-height: 120%;
    text-transform: uppercase;
    word-spacing: 80px;
    margin-bottom: 1em;
}

/*.desktop #org-list:before,*/
.desktop.org #post-list:before {
    content: url(images/tree-leaves.svg);
    display: block;
    position: absolute;
    top: -360px;
    margin-left: 5%;
}

.site-title a {
    text-decoration: none;
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
    color: var(--colour1);
}

.title {
    font-weight: normal;
    font-variation-settings: "wght" 700;
    color: var(--colour3);
    letter-spacing: 0.03em;
    font-size: calc(var(--basefontsize) * 1.5);
    line-height: 130%;
}

.title::after {
    content: " ";
    clear: both;
    display: inline-flex;
    margin-bottom: 1.25em;
    background: none;
}

.title a {
    color: var(--bg);
}

h3.title {
    margin-top: 1.5em;
    margin-bottom: -0.5em;
}

.post-title {
    font-size: 1em;
    font-variation-settings: "wght" 400;
    font-weight: normal;
    background: rgba(0,0,0,0.2);
    padding: 0.5em;
    text-align: center;
    margin-top: 1em;
}

.post-title a {
    color: #fff;
}

#intro img {
    margin: auto;
}

.home #intro img, #post-list .img-wg {
    background: url(images/shadow.svg) bottom center no-repeat;
    padding-bottom: 25px;
    background-size: contain;
}

.home #intro img {
    padding-bottom: 5px;
    background-position: bottom right;
}

.home #intro p.img span {
}

.bubble {
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 2em;
  text-align: center;
  color: #000;
  display: block;
  filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.2));
}

.bubble:before {
  filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 12px solid #fff;
  border-right: 12px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 24px solid #fff;
  right: 20%;
  bottom: -24px;
}


/*************************************
 Home page
  ***********************************/

.home #main-text ul {
    list-style: none;
    margin: 0 0 1em 0;
}

.home #main-text li {
    animation: float 2s ease-in-out;
    position: relative;
    background-color: #fff;
    padding: 1.125em 1.5em;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    display: block;
    margin: 1em 0;
    background: var(--bg);
}

.home #main-text li:last-child {
    animation: float2 2s ease-in-out;
}

@keyframes float {
    0% {
        transform: translatex(-100vw);
    }
    50% {
        transform: translatex(25vw);
    }
    100% {
        transform: translatex(0);
    }
}
@keyframes float2 {
    0% {
        transform: translatex(100vw);
    }
    50% {
        transform: translatex(-25vw);
    }
    100% {
        transform: translatex(0);
    }
}

#org-list .org {
    cursor: pointer;
    position: relative;
    margin-bottom: 3em;
}

#org-list .org::before,
#org-list .org:after {
    cursor: default;
}

#org-list .org a {
    text-decoration: none;
}

#org-list .org .permalink {
    display: none;
}

#org-list .org .description {
    position: relative;
}

.mobile #org-list .org .excerpt {
    display: none;
}

#org-list .org .excerpt {
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 30px; /* FIXME adjust for smaller screens */
    z-index: 3;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0, 0.7));
}

#org-list .org .description:hover .excerpt {
    animation: fade linear 5s;
}

#org-list .org .description img, #post-list .post img {
    transition: filter .3s linear;
}

.mobile #org-list .org .description img,
.mobile #post-list .post img {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0, 0.7));
}

#org-list .org .description:hover img,
#post-list .post:hover img {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0, 0.8));
}

#org-list .org .excerpt div {
    background: var(--bg);
    color: var(--colourtext);
    padding: 1em;
    display: flex;
}

#org-list .org .excerpt div p {
    overflow: hidden;
}

/*************************************
 Tag and simple pages
  ***********************************/

.desktop.org #main-text,
.desktop.post #main-text {
    padding-bottom: 30px;
}

.desktop.default #main-text,
.desktop.tag #main-text {
    padding-bottom: 120px;
}

.desktop.default #main-text {
    /*padding-top: 0.9em;*/
}

#main-text p {
    margin-bottom: 1em;
}

#main-text {
    /*text-shadow: 0 0 2px var(--bg);*/
}

/*************************************
 Org page
  ***********************************/

.org .grid .logo {
    background: url(images/circle.svg) center center no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
    padding: 20px;
    margin: auto;
}

.org .grid .logo-moved {
    display: block;
    margin-bottom: 1em;
}

.org-link {
    font-size: calc(var(--basefontsize) * 1.2);
    font-variation-settings: "wght" 400;
    line-height:  150%;
    padding: 0.25em 7% 0.25em 0 !important;
    filter: drop-shadow(-7px 0px 0px var(--colour3));
    margin-left: 7px;
    display: inline;
    background-image: url(images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 98% center;
    margin-top: 0.75em;
}

.links {
    margin: 2em 0 0;
    list-style: none;
    font-family: "Roboto", sans-serif;
    line-height: 140%;
    font-variation-settings: "wght" 400;
}

.links li:before {
    content: " ";
    width: 100%;
    height: 1px;
    background: var(--colour3);
    display: block;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

.links.tags {
    margin: 0 0 3em 0;
    text-transform: capitalize;
}

.all-groups {
    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 0 6px;
    background-size: 12px 12px;
    padding-left: 18px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.all-groups a {
    text-decoration: none;
    background: none;
    color: #fff;
}

.all-groups a:hover {
    text-decoration: underline;
}

#post-list {
    padding-top: 1em;
}

#post-list .grid {
    grid-row-gap: 3em;
}

#post-list .post {
    cursor: pointer;
    text-align: center;
}

#post-list .post a {
    text-decoration: none;
}

/*************************************
 WG page
 ***********************************/

.mobile.post .logo-moved {
    margin-top: 1.5em;
}

.post .logo {
    filter: drop-shadow(0px 0px 7px rgba(255,255,255,0.7));
}

/*************************************
  Animation
***********************************/

#main-text img, #intro img, #breadcrumbs {
    position: relative;
    z-index: 5;
}

#content, #org-list, #post-list {
    position: relative;
    z-index: 3; /* above cloud */
}

.cloud {
    background: url(images/cloud.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    top: 15vh;
    left: -150px;
    z-index: 2;
    transition: all 1s ease-in-out;
    animation: move ease-in-out 40s -5s infinite alternate-reverse;
}

.cloud2 {
    top: 2vh;
    left: 35vw;
    width: 100px;
    height: 100px;
    animation: move ease-in-out 25s -2s infinite alternate;
}

@keyframes move {
    0% {
        transform: translate(0vw, 0);
        opacity: 0.1;
    }
    100% {
        transform: translate(100vw, 0);
        opacity: 0.5;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*************************************
 Media queries
  ***********************************/

@media all and (min-width: 841px) {
    #primary-menu .main-menu {
        height: 90vh;
    }
    #primary-menu img {
        position: relative;
        bottom: unset;
        right: unset;
        align-self: end;
        text-align: right;
        width: 100%;
        height: auto;
        padding: 0 0 0 40%;
        box-sizing: border-box;
    }

    #intro, #post {
        padding-bottom: 0;
    }

    .home #intro {
        padding-bottom: 130px;
    }

   .ogrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ogrid .org {
        width: 45%;
    }

    .ogrid .org#org-3gpp, .ogrid .org#org-atis, .ogrid .org#org-cen-cenelec, .ogrid .org#org-etsi {
        width: 30%;
    }
    .ogrid .org#org-atis {
        margin-left: -8%;
    }
    .ogrid .org#org-cen-cenelec {
        margin-left: 70%;
        margin-top: -15%;
    }
    .ogrid .org#org-w3c {
        width: 35%;
        margin-top: -10%;
    }
    .ogrid .org#org-ietf {
        width: 60%;
        padding-left: 5%;
        /*padding-top: 5%;*/
    }
    .ogrid .org#org-irtf {
        width: 90%;
        margin-top: -22%;
        margin-left: 7%;
    }
    .ogrid .org#org-ieee {
        width: 90%;
        margin-left: 5%;
    }
    .ogrid .org#org-iso {
        width: 45%;
    }
    .ogrid .org#org-itu-r {
        margin-top: -20%;
        margin-right: 40%;
    }

    .grid {
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 35px;
    }

    .all-groups {
        margin-top: 1em;
    }

    #breadcrumbs .crumb {
        margin-left: -1em;
    }

    .all-groups {
        grid-column-start: 2;
    }

    /* align the single group image */
    #intro.grid img, .home #intro .img {
        align-self: end;
        margin: unset;
    }

    .post #content > .section:first-child .grid .logo {
         grid-row-start: 2;
    }

    #post-list .grid {
        grid-column-gap: 4em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #post-list .post:nth-child(even) {
        margin-top: 4em;
    }

    .post .logo {
        width: 100%;
        max-height: 350px;
        margin-top: -4vh;
    }
}

@media all and (min-width: 1200px) {
    #breadcrumbs {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #post-list .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #breadcrumbs, #main-text, .all-groups, #primary-menu .main-menu {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .post .grid .logo {
        grid-column-start: 4;
        grid-column-end: 6;
    }

}

@media all and (min-width: 1600px) {
    #post-list .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .post .wg-info, .org .org-description {
        min-height: 350px;
    }

    .desktop #post-list .post:nth-child(4)::after {
        content: "";
        margin: 0;
        position: relative;
    }
    #post-list .post:nth-child(5)::after {
        content: url(backgrounds/layer7.svg);
        position: absolute;
    }
    .ogrid .org#org-irtf {
        margin-top: 0;
    }
    #org-list .org .excerpt {
        max-width: 450px;
    }

}
