@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url("/assets/css/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url("/assets/css/fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

:root {
    --bg: #fff;
    --colourtext: #101820; /* blackish */
    --colour1: #d62d26; /* ART19 red */
    --colour2: rgb(0,148,110); /* ART19green */
    --colour3: #287758; /* darkergreen */
    --colour4: #f2a900; /* ART19yellow */
    --colour2soft: hsl(165 50% 95%);
    --hspace: 4vh;
    --vspace: 3vh;
    --basefontsize: 17px;
    --progress-bar-height: 4px;
    --progress-bar-color: #f2a900;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bg);
    scroll-behavior: smooth;
}

body {
    font-size: var(--basefontsize);
    line-height: 138%;
    font-family: "RobotoSlab", serif;
    font-variation-settings: "wght" 360;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-kerning: normal;
    font-variant: common-ligatures tabular-nums;
    font-optical-sizing: auto;
    overflow-x: hidden;
    color: var(--colourtext);
    min-height: 100vh;
    /*shape-rendering: crispedges;*/
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    background: var(--bg);
    /*padding-top: 25px;*/
}

b, strong {
    font-weight:  normal;
    font-variation-settings: "wght" 450;
}

img {
    max-width: 100%;
}

ul {
    list-style: disc;
    margin-left: 1.5em;
}

ol {
    margin-left: 1em;
}

blockquote {
    margin: 0 3em 3em;
    padding-left: 1em;
}

blockquote, ul, ol {
    margin-bottom: 1em;
}

pre {
    overflow: auto;
}

.center {
    text-align: center;
}

.error {
    background: var(--colour2);
    color: var(--bg);
    padding: 0.25em;
}

.read-more {
    cursor: pointer;
}

/*************************************
  Accessibility
  ***********************************/

.screen-reader-text {
    display: none;
}

/************************************
 Link styles
 ***********************************/

a {
    outline: none;
    background: var(--colour3);
    color: var(--bg);
    text-decoration: none;
}

.guess-who a {
    background: var(--colour2);
}

.site-title a, #footer a.logo {
    background: none;
    padding-right: 0;
}

#main-text a, #footer p a, .bubble-list li a {
    padding: 0 0.25em;
    margin-right: 0.25em;
}

.glossary {
    font-style: italic;
    cursor: help;
}

a[href]:not(:where(
    [href^="#"],
    [href^="/"]:not([href^="//"]),
    [href*="//almanac.article19.org"],
    [href*="//almanac.curlybracket.net"],
    [href*="//article19.org"],
    [href*="//localhost"])
    ):after {
        content: ' ';
        background: url(images/arrow-external.svg) no-repeat 6px 7px;
        padding: 0 8px;
        display: inline;
}

.links a:after {
    background-position: 6px 5px;
}

/************************************
 Backgrounds
 ***********************************/

#content {
    background: linear-gradient(180deg, #d62d2633 10%, var(--bg) 20%);
    background-size: 100% 200%;
}

.acknowledgement #content {
    background: linear-gradient(200deg, rgba(214,45,38,0.3) 15%, rgba(0,148,110,0.3) 30%, rgba(214,45,38,0.3) 50%, var(--bg) 75%);
    background-size: 100% 200%;
    animation: aurora 25s ease-in-out infinite;
}

.guess-who #content {
    background: linear-gradient(180deg, rgba(0,148,110, 0.3) 150px, var(--bg) 250px);
}

body:not(.guess-who) #intro,
body:not(.guess-who) #post {
    background-image: url(backgrounds/layer2repeatable.svg), url(backgrounds/layer1repeatable.svg);
    background-position: left bottom, left bottom;
    background-repeat: repeat-x, repeat-x;
    padding-bottom: 0;
}

body:not(.guess-who) .post #intro {
    background-image: url(backgrounds/layer6repeatable.svg), url(backgrounds/layer1repeatableshort.svg);
    margin-bottom: -1px;
}

.tag #intro {
    background-image: url(backgrounds/layer2repeatable-short.svg), url(backgrounds/layer1repeatable-short.svg);
    margin-bottom: -1px;
}

.org #post {
    background-image: url(backgrounds/layer6repeatable-old.svg), url(backgrounds/layer1repeatableshort.svg);
    margin-bottom: -1px;
}

#post-list, #org-list {
    background: rgb(0, 148, 110) url(backgrounds/structure2.svg);
}

#org-list {
    margin-top: -1px;
}

#org-list #org-w3c::after {
    content: url(backgrounds/layer4.svg);
    margin-left: calc(var(--hspace)*-1);
    position: absolute;
    transform: rotate(180deg);
    left: -70%;
}

#org-list #org-ieee::after {
    content: url(backgrounds/layer5.svg);
    position: absolute;
    left: -12%;
}

#org-list #org-ietf::before {
    content: url(images/tree.svg);
}

#org-list #org-ietf::after {
    content: url(backgrounds/layer7.svg);
    margin-left: calc(var(--hspace)*-1);
    position: absolute;
    transform: rotate(180deg);
    left: -8%;
}
#org-list #org-itu-t::before {
    content: url(images/tree-monstera.svg);
    display: block;
    margin: auto;
    text-align: center;
}

#org-list #org-itu-t::after {
    content: url(backgrounds/layer4.svg);
    right: calc(var(--hspace)*-1);
    position: absolute;
}
#org-list #org-3gpp::after {
    content: url(backgrounds/layer7.svg);
    margin-left: calc(var(--hspace)*-1);
    position: absolute;
    transform: rotate(180deg);
}

#org-list #org-atis::before {
    content: url(images/tree-leaves.svg);
    display: block;
    margin: auto;
    text-align: center;
}

.desktop #post-list .post:nth-child(4)::after {
    content: url(backgrounds/layer7.svg);
    position: absolute;
}

.desktop #post-list .post:last-child::after {
    content: "";
    margin-left: unset;
}

@media all and (min-width: 841px) {
    #contributors #intro::after,
    #methodology #intro::after {
        grid-column-start: 2;
    }
}

.tag #intro::after {
    content: url(images/tree-monstera.svg);
    display: block;
    text-align: center;
}

/*************************************
  Structure
  ***********************************/

#content {
    padding-top: calc(2*var(--hspace));
}

#footer {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-image: url(backgrounds/layer8repeatable.svg);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: contain;
    padding: 2em var(--hspace) 3em;
    overflow: hidden;
}

.guess-who #footer {
    background-image: url(backgrounds/layer-upsidedown.svg);
    background-position: left bottom;
}

#footer p {
    font-size: 0.9em;
    line-height: 1.3em;
    margin-bottom: 1em;
    float: left;
    text-align: left;
    width: 50%;
}

#footer a.logo {
    float: right;
    width: 50%;
}

.section-content {
    margin: 0 auto;
    padding: 0 var(--hspace) 3em;
}

.grid {
    display: grid;
}

.ogrid .post {
    margin-bottom: 2em;
}

/*************************************
  Nav: Breadcrumbs
  ***********************************/

#breadcrumbs {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.guess-who #breadcrumbs {
    margin-bottom: 2.5em;
}

#breadcrumbs .crumb {
    display: block;
    background-image: url("images/arrow-up.svg");
    background-repeat: no-repeat;
    background-position: 0 6px;
    background-size: 12px 12px;
    padding-left: 18px;
    margin-bottom: 0.3em;
}

#breadcrumbs .crumb:first-child {
    background-image: none;
    padding-left: 0;
}

#breadcrumbs .crumb a {
    padding: 0 0.25em;
    color: var(--bg);
    background: var(--colour3);
    text-decoration: none;
    transition: background .5s ease-in-out;
}

#breadcrumbs .crumb a:hover {
    background: var(--colour2);
}

#breadcrumbs .switcher {
    padding-left: 0;
}
.guess-who #breadcrumbs .switcher {
    position: absolute;
    top: 0;
    right: 0;
}

#breadcrumbs .switcher a {
    padding: 0 0.25em;
    color: var(--colour2);
    background: var(--bg);
    background-image: url("images/arrow-switch-g.svg");
    background-position: right 7px;
    background-repeat: no-repeat;
    padding-right: 20px;
    border-bottom: 1px solid;
}

.guess-who #breadcrumbs .switcher:not(.gw) a {
    color: var(--colour1);
    background-image: url("images/arrow-switch-r.svg");
}

#breadcrumbs .switcher2nd {
    display: block;
    margin-top: 8px;
    top: 20px !important;
}

/*************************************
  Nav: Menu
  ***********************************/

#primary-menu {
    background: rgb(0,148,110);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: calc(var(--hspace) + 25px);
    box-sizing: border-box;
    z-index: 24;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

#primary-menu, #primary-menu a {
    color: var(--bg);
}

#primary-menu li {
    display: block;
}

#primary-menu #site-title {
    height: 30%;
    margin: 0;
}

#primary-menu .main-menu {
    overflow-y: auto;
    height: 60vh;
}

.main-menu {
    -ms-overflow-style: none;  /* Hide scrollbar IE10+ */
    scrollbar-width: none;  /* Hide scrollbar Firefox */

}
.main-menu::-webkit-scrollbar {
    display: none; /* Hide scrollbar webkit */
}

#primary-menu img {
    position: absolute;
    bottom: var(--vspace);
    right: var(--vspace);
    height: 10vh;
}

.menu ul {
   list-style: none;
   margin: 0;
}

.menu li ul {
    display: none;
    margin: 0.5em 0 0.5em 1.5em;
}

.menu li > a, .menu li > span {
    text-transform: uppercase;
    font-size: calc(var(--basefontsize));
    line-height: 1.5em;
    background: rgba(0,0,0,0.2);
    margin-bottom: 0.5em;
    padding: 0.5em;
    display: block;
    text-decoration: none;
}

.menu li a:hover, .menu li span:hover, .menu .current-item a {
    background: rgba(0,0,0,0.3);
}
.menu li li a {
    text-transform: none;
    font-size: calc(var(--basefontsize)*1.2);
    margin-bottom: calc(var(--hspace)/5);
}

/*************************************
 Menu animaton
 ************************************/

.mobile-menu-toggle {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: calc(var(--hspace) + 25px);
    right: var(--hspace);
    z-index: 25;
}

.toggler {
    position: relative;
    z-index: 25;
    background: url(images/menu.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.guess-who .toggler {
    background-image: url(images/menu-guess-who.svg);
}

.darkbg:not(.guess-who) .toggler {
    background-image: url(images/menu-white.svg);
}

.mobile-menu-toggle input {
    position: absolute;
    z-index: 26;
    width: 80px;
    height: 23px;
    display: block;
    cursor: pointer;
    opacity: 0;
}

/* activation */

#primary-menu {
    transition: top .5s ease-in-out;
    top: -100vh;
}

#primary-menu .site-title {
    padding-bottom: 25px;
}

.mobile-menu-toggle input:checked ~ #primary-menu {
    top: 0;
}

.mobile-menu-toggle input:checked ~ .toggler.menu-action {
    background-image: url(images/menu-close.svg);
}

.mobile-menu-toggle input:checked ~ .toggler.menu-action span {
    display: none;
}

/*************************************
  Content
  ***********************************/

.site-title {
    font-family: "Roboto", sans-serif;
    font-variation-settings: "wght" 250;
    font-weight: normal;
    letter-spacing: 0.1em;
    font-size: 2.3em;
    line-height: 120%;
    text-transform: uppercase;
    word-spacing: 80px;
    margin-top: -7px;
    /*margin-bottom: 1em;*/
}

.desktop.org #post-list:before {
    content: url(images/tree-leaves.svg);
    display: block;
    position: absolute;
    top: -360px;
    margin-left: 5%;
}

.site-title a {
    text-decoration: none;
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
    color: var(--colour1);
}

.title {
    font-weight: normal;
    font-variation-settings: "wght" 700;
    color: var(--colour3);
    letter-spacing: 0.03em;
    font-size: calc(var(--basefontsize) * 1.6);
    line-height: 120%;
    margin-bottom: 1em;
}

.title a {
    color: var(--bg);
}

.title.tag-title a {
    padding: 0.5em;
    display: block;
    height: 100%;
    box-sizing: border-box;
    transition: background .3s linear;
}

.post .post-title {
    transition: background .3s linear;
}

.title.tag-title:hover a,
.post:hover > .post-description > .post-title {
    background-color: rgba(0,0,0,0.4);
}

.post-title a {
    background: transparent;
}

h3.title {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: calc(var(--basefontsize) * 1.2);
}

.post-title {
    font-size: 1em;
    font-variation-settings: "wght" 400;
    font-weight: normal;
    background: rgba(0,0,0,0.2);
    padding: 0.5em;
    text-align: center;
    margin-top: 1em;
}

.post-title a {
    color: var(--bg);
}

.post-title span {
    display: none;
}

.tags-all .post-title span,
.tag .post-title span {
    display: inline;
    text-transform: uppercase;
}

.home #intro {
    padding-bottom: 20px;
}

#intro img {
    margin: auto;
}

.home #intro img, #post-list .img-wg {
    background: url(images/shadow.svg) bottom center no-repeat;
    padding-bottom: 25px;
    background-size: contain;
}

.home #intro img {
    padding-bottom: 5px;
    background-position: bottom right;
}

.mobile.home #intro img {
    margin: auto;
    display: block;
}

/*************************************
 Home page
  ***********************************/

.bubble {
    display: block;
    background: var(--bg);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 2.5em;
    position: relative;
    box-shadow: 6px 6px var(--colour2);
    text-align: center;
    border: 1px dashed var(--colour2);
}

span.bubble:after {
    content: ".";
    -webkit-text-fill-color: var(--colour3);
    text-shadow: -15px 10px var(--colour3);
    text-align: left;
    font-size: 63px;
    width: 10px;
    height: 10px;
    background-color: var(--colour2);
    position: absolute;
    display: block;
    right: 10px;
    z-index: 0;
}

.bubble-list {
    list-style: none;
    margin: 0 0 1em 0;
}

.bubble-list li {
    animation: float 2s ease-in-out;
    background: var(--colour3);
    color: var(--bg);
    margin-bottom: 1.2em;
    text-align: left;
}

.bubble-list li:last-child {
    animation: float2 2s ease-in-out;
}

@keyframes float {
    0% {
        transform: translatex(-100vw);
    }
    50% {
        transform: translatex(25vw);
    }
    100% {
        transform: translatex(0);
    }
}
@keyframes float2 {
    0% {
        transform: translatex(100vw);
    }
    50% {
        transform: translatex(-25vw);
    }
    100% {
        transform: translatex(0);
    }
}

/*************************************
 Home page: org list
  ***********************************/

#org-list .org {
    cursor: pointer;
    position: relative;
    margin-bottom: 3em;
}

#org-list .org::before,
#org-list .org:after {
    cursor: default;
}

#org-list .org a {
    text-decoration: none;
}

#org-list .org .permalink {
    display: none;
}

#org-list .org .description {
    position: relative;
    text-align: center;
}

.mobile #org-list .org .excerpt {
    display: none;
}

#org-list .org .excerpt {
    text-align: left;
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 30%;
    z-index: 3;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0, 0.7));
}

#org-list .org .description:hover .excerpt {
    animation: fade linear 10s;
}

#org-list .org .description img, #post-list .post img {
    transition: filter .3s linear;
}

.mobile #org-list .org .description img,
.mobile #post-list .post img {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0, 0.7));
}

#org-list .org .description:hover img,
#post-list .post:hover img {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0, 0.8));
}

#org-list .org .excerpt div {
    background: var(--bg);
    color: var(--colourtext);
    padding: 1em;
    display: flex;
}

#org-list .org .excerpt div p {
    overflow: hidden;
}

/*************************************
 Main text
  ***********************************/

.desktop.home #main-text {
    padding-bottom: 150px;
}

.desktop.org #main-text,
.desktop.post #main-text {
    padding-bottom: 30px;
}

.desktop.default:not(.guess-who) #main-text {
    padding-bottom: 300px;
}

.desktop.tags-all #main-text {
    padding-bottom: 220px;
}

.mobile.default #main-text {
    padding-bottom: 20px;
}

#main-text p,
.guess-who-about .section-content .descriptive-txt p {
    margin-bottom: 1em;
}

/*************************************
 Tag and simple pages
  ***********************************/

.tag #main-text img {
    background: url(images/shadow.svg) bottom center no-repeat;
}

/*************************************
 Org page
  ***********************************/

.org .grid .logo,
.org-logo {
    position: relative;
    padding: 20px;
    margin: auto;
    background: url(images/circle.svg) center center no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
}

/*************************************
 Post/Group page
 ***********************************/

.post .logo {
    filter: drop-shadow(0px 0px 7px rgba(255,255,255,0.7));
}

/*************************************
Post/Group & Org page
  ***********************************/

.links {
    margin: 2em 0 2em;
    list-style: none;
    font-family: "Roboto", sans-serif;
    line-height: 140%;
    font-variation-settings: "wght" 400;
}

.links.tags {
    margin: -1em 0 2em 0;
}

.links li:before {
    content: " ";
    width: 100%;
    height: 1px;
    background: var(--colour3);
    display: block;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

.all-groups {
    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 0 6px;
    background-size: 12px 12px;
    padding-left: 18px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.all-groups a {
    text-decoration: none;
    color: var(--colour2);
    background: var(--bg);
    padding: 0 0.25em;
}

#main-text img, #intro img, #breadcrumbs {
    position: relative;
    z-index: 5;
}

#content, #org-list, #post-list {
    position: relative;
    z-index: 3; /* above cloud */
}

/*************************************
 Post list
 ***********************************/

#post-list {
    padding-top: 1em;
}

#post-list .grid {
    grid-row-gap: 3em;
}

#post-list .post {
    cursor: pointer;
    text-align: center;
}

#post-list .post a {
    text-decoration: none;
}

/*************************************
  Cloud
***********************************/

.cloud {
    background: url(images/cloud.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    top: 40vh;
    left: -150px;
    z-index: 2;
    transition: all 1s ease-in-out;
    animation: move ease-in-out 40s -5s infinite alternate-reverse;
}

.cloud2 {
    top: 2vh;
    left: 35vw;
    width: 100px;
    height: 100px;
    animation: move ease-in-out 25s -2s infinite alternate;
}

/***************************************
  Graphs & Guess who! site area
***************************************/

#site-area-menu {
    z-index: 20;
    width: 100%;
    padding-left: var(--hspace);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-variation-settings: "wght" 300;
    text-transform: uppercase;
    overflow: hidden;
    background: var(--bg);
    color: var(--colour1);
    position: fixed;
    top: 0;
    left: 0;
}

#site-area-menu #link-top {
    float: right;
    margin-right: var(--hspace);
}

#site-area-menu ul {
    margin: 0 0 0 -0.75em;
    list-style: none;
}

#site-area-menu li {
    display: inline-flex;
}

#site-area-menu li a {
    padding: 0.2em 0.75em;
    box-sizing: border-box;
    font-weight: bold;
    color: var(--colour1);
    background: var(--bg);
}

.guess-who #site-area-menu {
    color: var(--colour2);
}

.guess-who #site-area-menu a {
    color:var(--colour2);
}

#site-area-menu .active a,
#site-area-menu a:hover {
    color: var(--bg);
    background: var(--colour1);
}
.guess-who #site-area-menu .active a,
.guess-who #site-area-menu a:hover {
    background: var(--colour2);
}

body.guess-who .site-title a {
    color: var(--colour2);
}

.guess-who .section-content#intro {
    padding-bottom: 0.5em;
    margin-bottom: 2em;
}

.guess-who .section-content#intro .post {
    text-align: center;
}

.section-content#intro .post img {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.8));
    background: url(images/shadow.svg) bottom center no-repeat;
    background-size: contain;
    padding-bottom: 25px;
}

.section-content#intro .post .post-title {
    background: var(--colour1);
}

.section-content#guess-who-actions {
    align-items: center;
}

.guess-who .section-content#guess-who-actions {
    padding-bottom: 4em;
}
.guess-who-graphs .section-content#guess-who-actions {
    padding-bottom: 0.5em;
}

#select-sdo-view {
    list-style: none;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
}

#select-sdo-view li {
    margin-right: 1em;
    max-width: 140px;
}

#select-sdo-view li a {
    display: block;
    background: var(--colour2);
    padding: 0 1em;
}

#select-sdo-view li a.active,
#select-sdo-view li a:hover {
    opacity: 0.5;
}

#select-sdo-view li a img {
    width: 100%;
}

.spacer {
    display: block;
    border-bottom: 1px dashed var(--colour2);
    margin-bottom: 3em;
}

label, select, input {
    font-family: "Roboto", sans-serif;
}
label {
    font-size: 0.9em;
    font-variation-settings: "wght" 600;
}
select {
    background-color: var(--colour2);
    padding: .5em;
    color: var(--bg);
    border-bottom: 2px solid var(--colour3);
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
}

select option:hover,
select option:checked {
    background-color: var(--colour3);
}

option:disabled {
    background: var(--bg);
}

select#wg {
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1em 0.5em;
    width: 100%;
    display: block;
}

#guess-who-actions div {
    grid-column-start: 1;
    grid-column-end: 4;
}

.guess-who-bottom-links p {
    margin-bottom: 3em;
}

.guess-who-bottom-links img {
    display: block;
    margin-top: 1.5em;
    margin-left: -15px;
    transition: all .1s cubic-bezier(0.71, 1.32, 1, 1.38);
}

.guess-who-bottom-links p:last-child img {
    margin-top: 0.9em;
}

.guess-who-bottom-links a:not(.current-item):hover img {
    transform: scale(1.05);
}

.guess-who-bottom-links .button {
    padding: 0.2em;
    font-variation-settings: "wght" 600;
}

.guess-who-bottom-links .current-item {
    opacity: 0.5;
}

/*************************************
  Plotly elements
***********************************/

.plotlyRender {
    margin-top: 1.5em;
}

a.modebar-btn {
    background: var(--bg);
}

.modebar-container {
    margin-top: -36px !important;
}

/*************************************
  Guide
***********************************/

body.guide #content {
    background: linear-gradient(180deg, #f2a9001a 150px, var(--bg) 250px);
    font-family: "Roboto", sans-serif;
}

body.guide .site-title a,
body.guide #site-area-menu li a {
    color: var(--colour4);
}

body.guide .btn a,
body.guide #site-area-menu .active a,
body.guide #site-area-menu a:hover {
    background: var(--colour4);
    color: var(--bg);
}

body.guide .mobile-menu-toggle {
    display: none;
}

.toc-toggle .toggler {
    position: fixed;
    right: var(--hspace);
    top: 48px;
    background-image: url(images/toc.svg);
}

.toc-toggle input {
    position: fixed;
    right: 0;
    z-index: 26;
    width: 80px;
    height: 23px;
    display: block;
    cursor: pointer;
    opacity: 0;
}

.toc-toggle input:checked ~ .toc {
    top: 30px;
}

.toc-toggle input:checked ~ .toggler.menu-action {
    background-image: url(images/menu-close.svg);
}

.toc-toggle input:checked ~ .toggler.menu-action span {
    display: none;
}

.toc {
    transition: right .5s ease-in-out;
    padding: 1em var(--hspace) 0;
    box-sizing: border-box;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 24;
    background: var(--colour4);
    color: var(--bg);
    width: 100vw;
}

.toc ul {
    list-style: none;
    margin-left: 0;
    font-family: "Roboto", sans-serif;
}

.toc li {
    margin-top: 0.25em;
}

.toc a {
    background: none;
    color: var(--bg);
}

.toc li a.active {
    color: var(--colour4);
    background: var(--bg);
}

body.guide #footer {
    background: transparent;
    border-top: 1px solid var(--colour4);
}

.no-btm-padding {
    padding-bottom: 1em;
}

.guide-content.grid {
    display: block;
}

body.guide h2.title {
    font-family: "RobotoSlab", serif;
    font-size: calc(var(--basefontsize) * 1.8);
    padding: 5px 30px 3px 0;
    position: sticky;
    top: 30px;
    scroll-margin-top: 50px;
    background: var(--bg);
}

body.guide:not(.scrolled) .title#overview {
    background: transparent;
}

.guide .slide h3 {
    color: var(--colourtext);
    text-wrap: unset;
}

body.guide #content p,
body.guide #content ul {
    font-size: 1.1em;
    line-height: 144%;
}

.guide p {
    margin-bottom: 1em;
}

.guide p.emphasis {
    font-variation-settings: "wght" 600;
}

.guide p.emphasis b {
    color: var(--colour2);
    text-wrap: pretty;
    font-size: 1.2em;
}

.guide b {
    font-variation-settings: "wght" 600;
}

.guide .dropdown {
    cursor: pointer;
}

.guide .dropdown:after {
    content: "+";
    margin-left: 0.5em;
    padding: 0 0.25em;
    border: 1px solid;
    color: var(--colour2);
    font-variation-settings: "wght" 600;
}

.guide .dropdown.open:after {
    content: "-";
}

i.guide .dropdown.open:after,
.guide .dropdown:hover:after {
    background: var(--colour2);
    color: var(--bg);
}

.guide-img {
    margin-bottom: 2em;
}

.guide-img img {
    max-height: 86vh;
}

.guide-img figcaption {
    line-height: 1.3em;
}

.btn a {
    background: var(--colour1);
}

.slider {
    margin-bottom: 2em;
    grid-column-start: 1;
    grid-column-end: 4;
}

.slide {
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    margin-right: 10px;
    background-color: var(--colour2soft);
    /*opacity: .3;*/
}

.slide.is-selected {
    opacity: 1;
}

.slide ul, .slide ol {
    padding-left: 1em;
    overflow: hidden;
    line-height: 1.4em;
}

@media all and (min-width: 840px) {
    body.guide #content #h {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .guide-content.grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-row-gap: 2em;
        grid-column-gap: 35px;
    }
    body.guide .guide-text {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    body.guide h2.title {
        grid-column-start: 1;
        grid-column-end: 2;
        /*z-index: 99;*/
        top: 60px;
    }
    body.guide .guide-img {
        grid-column-start: 3;
        position: sticky;
        top: 12vh;
    }
    .guide-content .slider-img {
        float: left;
        width: 28vw;
        max-height: 90%;
        margin-right: 1em;
        overflow: hidden;
    }
    .guide-content .slide {
        width: 70%;
    }
    .guide-content .slide p {
        overflow: hidden;
    }
}
@media all and (min-width: 1700px) {
    .guide #h,
    .guide-content.grid {
        /*font-size: 1.3em;*/
        max-width: 1920px;
    }
    .guide-content .slider-img {
        width: auto;
        height: 100%;
        margin-right: 1.5em;
    }
}

/******************************
 * Progress bar (Guide)
**************************** */
.scroll-watcher {
    position: fixed;
    top: 30px;
    left: 0;
    height: var(--progress-bar-height);
    width: 0;
    z-index: 9999;
    background-color: var(--progress-bar-color);
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    animation-duration: auto;
}

@keyframes scroll-watcher {
    to {
        width: 100%;
    }
}

@supports (animation-timeline: scroll()) {
    .scroll-watcher {
        animation-timeline: scroll();
        animation-duration: auto;
    }
}

/*************************************
  Animation
***********************************/

@keyframes move {
    0% {
        transform: translate(0vw, 0);
        opacity: 0.1;
    }
    100% {
        transform: translate(100vw, 0);
        opacity: 0.5;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes aurora {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 0 0%;
    }
    100% {
        background-position: 0 100%;
    }
}

/*************************************
 Media queries
  ***********************************/

@media all and (max-width: 840px) {
    .guess-who .catnip-icon {
        max-height: 100px;
        float: left;
    }

    .guess-who .catnip-icon + p {
        overflow: hidden;
        line-height: 125%;
    }
    .guess-who #guess-who-actions.section-content {
        padding-bottom: 2em;
    }
    .guess-who #intro img {
        display: none;
    }
}

@media all and (min-width: 841px) {
    #primary-menu .main-menu {
        height: 90vh;
    }

    #primary-menu img {
        position: relative;
        bottom: unset;
        right: unset;
        align-self: end;
        text-align: right;
        width: 100%;
        height: auto;
        padding: 0 0 0 40%;
        box-sizing: border-box;
    }
    .menu li > a, .menu li > span {
        font-size: calc(var(--basefontsize) * 1.5);
    }
    #footer {
        padding-top: 7em;
        text-align: right;
        background-size: unset;
    }

    #footer a.logo {
        margin-top: -3em;
    }
    .guess-who #footer a.logo {
        margin-top: -6em;
    }
    #intro, #post {
        padding-bottom: 0;
    }

    .home #intro {
        padding-bottom: 130px;
    }

   .ogrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home .ogrid {
        justify-content: space-between;
    }

    .ogrid .post {
        width: 25%;
        padding: 0 3%;
        box-sizing: border-box;
    }

    .ogrid .post:nth-child(even) {
        margin-top: 4em;
    }

    .ogrid .org {
        width: 45%;
    }

    .ogrid .org#org-3gpp, .ogrid .org#org-atis, .ogrid .org#org-cen-cenelec {
        width: 30%;
    }
    .ogrid .org#org-atis {
        margin-left: -8%;
    }
    .ogrid .org#org-cen-cenelec {
        margin-left: 70%;
        margin-top: -15%;
    }
    .ogrid .org#org-etsi {
        margin-top: -12%;
        width: 33%;
    }
    .ogrid .org#org-w3c {
        width: 40%;
        margin-top: -10%;
    }
    .ogrid .org#org-irtf {
        width: 45%;
    }
    .ogrid .org#org-ietf {
        width: 95%;
        padding-left: 5%;
        margin-top: -20%;
    }
    .ogrid .org#org-ieee {
        width: 90%;
        margin-left: 5%;
    }
    .ogrid .org#org-iso {
        width: 45%;
    }
    .ogrid .org#org-itu-r {
        margin-top: -20%;
        margin-right: 40%;
    }

    .grid {
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 35px;
    }

    .grid.guess-who-bottom-links {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 35px;
    }

    .guess-who-about .section-content .descriptive-txt {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .all-groups {
        margin-top: 1em;
    }

    #breadcrumbs {
        margin-top: 0;
    }

    #breadcrumbs .crumb {
        margin-left: -1em;
    }

    #breadcrumbs .switcher {
        position: absolute;
        top: 0;
        right: 0;
    }

    #breadcrumbs .switcher2nd {
        top: 20px !important;
    }
    .all-groups {
        grid-column-start: 2;
    }

    /* align the single group image */
    #intro.grid img,
    .home #intro .img {
        align-self: end;
        margin: unset;
    }

    .post #content > .section:first-child .grid .logo {
         grid-row-start: 2;
    }

    .post .logo {
        width: 100%;
        max-height: 350px;
        margin-top: -4vh;
    }

    .links {
        margin: 2em 0 3.5em;
    }

    .links.tags {
        margin: -2.5em 0 3.5em 0;
    }

    .guess-who .section-content#intro {
        margin-bottom: 0;
    }

   .guess-who-display {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .guess-who-bottom-links p {
        margin-bottom: 0;
    }
    .guess-who-bottom-links img {
        margin-left: -25px;
    }
    .plotlyRender {
        margin-top: 0;
    }
    #guess-who-actions div {
        grid-column-start: 2;
    }
}

@media all and (min-width: 1200px) {
    #breadcrumbs {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
    }

    .grid,
    .grid.guess-who-bottom-links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 80px;
    }

    #breadcrumbs, #main-text, .all-groups, #primary-menu .main-menu {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .post .grid .logo {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    select#wg {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media all and (min-width: 1600px) {
    #org-list .org .excerpt {
        bottom: 10%;
    }
    .post .wg-info, .org .org-description {
        min-height: 350px;
    }

    .ogrid .org#org-ietf {
        margin-top: 0;
    }

    .ogrid .org#org-itu-r {
        margin-top: -5vh;
    }

    .links {
        line-height: auto;
    }
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
    position: absolute;
    background: var(--colour2);
    border: none;
}

.flickity-button:hover {
    colour: var(--bg);
    background: var(--colour3);
    cursor: pointer;
}

.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--bg);
}

.flickity-button:active {
    opacity: 0.6;
}

.flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
}

.flickity-button-icon {
    fill: var(--bg);
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: var(--colour2);
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/*************************************
  Lightbox
  ***********************************/

.openlb {
    cursor: zoom-in;
}

.lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    transition: all .5s ease-in;
    background: rgba(255,255,255,0.95);
    z-index: 3;
}

.lightbox.show {
    display: flex;
    align-items: center;
}

.lightbox img {
    max-height: 85vh;
    text-align: center;
    margin: auto;
}

.lightbox .title {
    position: absolute;
    bottom: 0;
    z-index: 4;
    padding: 0 var(--basefontsize) var(--basefontsize);
    line-height: 110%;
    font-size: calc(var(--basefontsize)* 0.8);
    text-align: center;
    width: 100vw;
    box-sizing: border-box;
}

.close {
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 0;
    width: 30px;
    height: 30px;
    margin: var(--vspace) var(--hspace) 0 0;
    cursor: pointer;
    background: var(--colour2);
}

.close:after,
.close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 100%;
    background: var(--bg);
}

.close:after {
   transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
