{% include header.html %}
<div class="section" id="content">
    <div class="section-content grid" id="intro">
        {% include site-header.html %}
        {% include breadcrumbs.html %}
        <div id="main-text">
            <h2 class="title">{{ page.title }}: <span id="wgname">select<!-- WG Name --></span></h2>
            {{ content }}
        </div>
        <div class="post"><!-- dashboard.js fills in -->
            <img id="wglogo" class="img-wg" src="{{ site.url }}/assets/images/groups/" title="" alt="" />
        </div>
    </div>

    <div class="section-content grid" id="viz-actions">
        <select id="wg" class="select" onchange="setWG(this)">
        {% assign items = site.data.dom_dashboard_working_groups %}
            <option disabled>Explore data about</option>
            {% for item in items %}
                <option {% if page.url == item.slug %} selected{% endif %} value="{{ item.slug }}">
                    {{ item.name }}
                </option>
                {% if item.wg %}
                    {% for entry in item.wg %}
                    <option {% if page.url == entry.slug %} selected{% endif %} value="{{ entry.slug }}">
                        {{ item.name }} - {{ entry.name }}
                    </option>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div id="viz-display">
        <div class="section-content">
            <h3 class="title">Authorship</h3>
            <div id="plotlyDAuthorship" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
            <!--<img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-author.jpg" alt="Catnip authoring an RFC" />-->
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3 class="title">Influence</h3>
            <div id="plotlyDInfluence" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
            <!--<img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-influencer.jpg" alt="Catnip witing an email" />-->
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3 class="title">Leadership</h3>
            <div id="plotlyDLeadership" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
            <!--<img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-chair.jpg" alt="Catnip sitting on a (zaisu) chair" />-->
        </div>
        <span class="spacer"></span>
    </div>

    <div class="section-content grid dom-bottom-links">
        <h2 class="title">Curious to explore more?</h2>
        <p>
            <a href="{{ site.url }}/dom-overview.html">
                <span class="button">Learn more about our findings</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-overview.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="{{ site.url }}/dom-about.html">
                <span class="button">Learn more about our research</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-about.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="#">
                <span class="button">Download the map</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-map.jpg" alt="" />
            </a>
        </p>
    </div>
</div>
{% include footer.html %}
