{% include header.html %}
<div class="section" id="content">
    <div class="section-content grid" id="intro">
        {% include site-header.html %}
        {% include breadcrumbs.html %}

        {{ content }}

    </div>
    <script>WG="ietf";</script>

    <div class="section-content grid">
        <div id="viz-actions">
            <select id="wg" class="select" onchange="setWG(this)">
            {% assign items = site.data.dashboard_overview_sdos %}
                <option disabled>Explore</option>
                {% for item in items %}
                    <option {% if page.url == item.slug %} selected{% endif %} value="{{ item.slug }}">
                        {{ item.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="section-content grid">
        <div>
            <h2 class="title">Authorship over time</h2>
            <img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-author.jpg" alt="Catnip authoring an RFC" />
            <p>The authorship graph shows the amount of contributions by the 5 most active actors in writing RFC drafts per working group and per year.</p>
        </div>
        <div class="viz-display">
            <div id="plotlyOverviewAuthorship" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
    </div>
    <span class="spacer"></span>

    <div class="section-content grid">
        <div>
            <h2 class="title">Influence over time</h2>
            <img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-influencer.jpg" alt="Catnip writing an email" />
            <p>The influence graph shows the amount of emails sent to working group related mailing lists by the 5 most prolific actors per year.</p>
        </div>
        <div class="viz-display">
            <div id="plotlyFindingsI" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
    </div>
    <span class="spacer"></span>

    <div class="section-content grid">
        <div>
            <h2 class="title">Leadership over time</h2>
            <img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-chair.jpg" alt="Catnip sitting on a chair" />
            <p>The leadership graph shows the 5 actors who occupied a chair for the longest periods, all working groups taken together.</p>
        </div>
        <div class="viz-display">
            <div id="plotlyFindingsL" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
    </div>
    <span class="spacer"></span>

    <div class="section-content grid dom-bottom-links">
        <h2 class="title">Curious to explore more?</h2>
        <p>
            <!-- FIXME: link to the currently selected SDO -->
            <a href="{{ site.url }}/dom-dashboard.html">
                <span class="button">Explore the dashboard</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-dashboard.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="{{ site.url }}/dom-about.html">
                <span class="button">Learn more about our research</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-about.jpg" alt="" />
            </a>
        </p>
        <p>
            <a href="#">
                <span class="button">Download map</span>
                <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-map.jpg" alt="" />
            </a>
        </p>
    </div>
</div>
{% include footer.html %}
