{% include header.html %}
<div class="section" id="content">
    <div class="section-content grid" id="viz-intro">
        {% include site-header.html %}
        {% include breadcrumbs.html %}
        <div id="main-text">
            <h2 class="title">{{ page.title }}: <span id="wgname">select<!-- WG Name --></span></h2>
            {{ content }}
        </div>
        <div class="post"><!-- dashboard.js fills in -->
            <img id="wglogo" class="img-wg" src="{{ site.url }}/assets/images/groups/" title="" alt="" />
        </div>
    </div>

    <div class="section-content grid" id="viz-actions">
        <select id="wg" class="select" onchange="setWG(this)">
        {% assign items = site.data.dashboard_working_groups %}
            <option disabled>Explore data about</option>
            {% for item in items %}
                <option {% if page.url == item.slug %} selected{% endif %} value="{{ item.slug }}">
                    {{ item.name }}
                </option>
                {% if item.wg %}
                    {% for entry in item.wg %}
                    <option {% if page.url == entry.slug %} selected{% endif %} value="{{ entry.slug }}">
                        {{ item.name }} - {{ entry.name }}
                    </option>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div id="viz-display">
        <div class="section-content">
            <h3 class="title">Authorship</h3>
            <div id="plotlyAuthorship" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3 class="title">Influence</h3>
            <div id="plotlyInfluence" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3 class="title">Leadership</h3>
            <div id="plotlyLeadership" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>
    </div>
</div>
{% include footer.html %}
