{% include header.html %}
<main class="section" id="content">
    <div class="section-content grid" id="intro">
        {% include site-header.html %}
        {% include breadcrumbs.html %}

        {{ content }}

    </div>

    <div class="section-content grid">
        <select id="wg" class="select" aria-label="Upon selecting a different working group, visualisations below will change.">
        {% assign items = site.data.guess_who_overview_sdo %}
            {% for item in items %}
            <option {% if page.url == item.slug %} selected{% endif %} value="{{ item.slug }}">
                {{ item.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="section-content grid">
        <div>
            <h2 class="title">Authorship - Amount of published standards</h2>
            <img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-author.jpg" alt="Catnip authoring an RFC" />
            <p>The authorship graph shows the five most dominant actors successful in publishing technical standards per working group and per year.</p>
        </div>
        <div class="guess-who-display">
            <div id="plotlyDAuthorship" class="plotlyRender" aria-label="Data visualisation"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
    </div>
    <span class="spacer"></span>

    <div class="section-content grid">
        <div>
            <h2 class="title">Influence - Amount of communication</h2>
            <img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-influencer.jpg" alt="Catnip writing an email" />
            <p>The influence graph shows the five most dominant actors based on contributions through modes of communication, such as mailing lists, per year.
</p>
        </div>
        <div class="guess-who-display">
            <div id="plotlyDInfluence" class="plotlyRender" aria-label="Data visualisation"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
    </div>
    <span class="spacer"></span>

    <div class="section-content grid">
        <div>
            <h2 class="title">Leadership - Longest chairing periods</h2>
            <img class="catnip-icon" src="{{ site.url}}/assets/images/catnip-mallory/catnip-chair.jpg" alt="Catnip sitting on a chair" />
            <p>The leadership graph shows the five most dominant actors who have taken a formal position within a working group or committee based on the length of time as chair.</p>
        </div>
        <div class="guess-who-display">
            <div id="plotlyDLeadership" class="plotlyRender" aria-label="Data visualisation"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
    </div>
</main>
{% include footer.html %}
