{% include header.html %}
<main class="section" id="content">
    <div class="section-content grid" id="intro">
    {% include site-header.html %}
    {% include breadcrumbs.html %}
    {{ content }}
    </div>
</main>
<div class="section" id="org-list" role="navigation" aria-label="List of SDOs">
    <div class="section-content">
        <div class="ogrid">
        {% for org in site.orgs %}
            {% include org_loop.html %}
        {% endfor %}
        </div>
    </div>
</div>
{% include footer.html %}
