{% include header.html %}
   <div class="section" id="post">
        <div class="section-content">
            <div class="org">
                {% if page.logo %}
                    <img class="logo" src="{{ site.url }}/{{ page.logo }}" alt="{{page.title}} logo" />
                {% endif %}

                {{ content }}
            </div>
        </div>
   </div>
   <div class="section" id="post-list">
        <div class="section-content">
            → All groups in this organization
            {% assign orgposts = site.posts | where: 'org', page.org %}
            {% for post in orgposts %}
                {% include post_loop.html %}
            {% endfor %}
        </div>
    </div>
{% include footer.html %}
