{% include header.html %}
<div class="section" id="content">
    <div class="section-content grid" id="intro">
        {% include site-header.html %}
        <div id="main-text">
            {% include breadcrumbs.html %}
            {{ content }}

            {% assign counttags = 0 %}
            {% for tag in page.tags %}
                {% assign counttags = counttags | plus: 1 %}
            {% endfor %}
            {% if counttags > 0  %}
            <ul class="links tags">
                <li><b>Tags:</b>
                    {% for tag in page.tags %}
                    <a href="{{ site.url }}/by-issue-{{ tag }}.html">{{ tag  | replace: "-", " "}}</a>
                    {% endfor %}
                </li>
            </ul>
            {% endif %}
        </div>

    {% if page.featured-img %}
        <img class="logo" src="{{ site.url }}/{{ page.featured-img }}" alt="{{page.featured-img}} logo" />
    {% endif %}

    {% if page.vizexists %}
    <a href="{{ site.url }}/viz.html?wg={{ page.vizexists }}" class="logo-vizexists"><img src="{{ site.url }}/{{ page.featured-img }}" alt="" /><br>Who's influential in this group?</a>
    {% endif %}

    {% assign orgposts = site.posts | where: 'org', page.org | reverse %}
    {% assign total = 0 %}
    {% for post in orgposts %}
        {% assign total = total | plus: 1 %}
    {% endfor %}
    {% if total > 1 %}
        <p class="all-groups"><a href="#post-list">Other groups in the same organisation</a></p>
    {% endif %}
    </div>
</div>
<div class="section" id="post-list">
    <div class="section-content ogrid">
        {% assign posts = site.posts | where: 'org', page.org | reverse %}
        {% for post in posts %}
            {% if post.title != page.title %}
                {% include post_loop.html %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% include footer.html %}
