{% include header.html %}
   <div class="section" id="post">
        <div class="section-content">
            {{ content }}
        </div>
   </div>
   <div class="section" id="orgs-list">
        <div class="section-content">
            → Other groups in the same organization
            {% assign posts = site.posts | where: 'org', page.org %}
            {% for post in posts %}
                {% if post.title != page.title %}
                    {% include post_loop.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% include footer.html %}
