{% include header.html %}
<div id="content">
    <div class="section">
        <div class="section-content grid" id="intro">
            <div id="main-text">
                <h2 class="title">{{ page.title }}</h2>
            </div>
        </div>
    </div>
    <div class="section" id="post-list">
        <div class="section-content grid">
            {% for tag in site.tags %}
                {% if tag[0] == page.ref %}
                    {% for post in tag[1] %}
                        {% include post_loop.html %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include footer.html %}
