{% include header.html %}
<div class="section" id="content">
    <div class="section-content grid" id="intro">
        {% include site-header.html %}
        <div id="main-text">
           <h2 class="title">{{ page.title }}</h2>
           <p>Below you'll find all groups in SDOs working on issues related to {{ page.ref | replace: "-", " " }}.</p>
           <p class="center">
           {% if page.ref == "censorship-resistance" %}
           <img src="{{ site.url}}/assets/images/catnip-mallory/alice-censorship.svg" alt="Alice on a censored connection" width="300" />
           {% endif %}

           {% if page.ref == "biometrics" %}
           <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-laptop.svg" alt="Catnip with laptop" width="170" />
           {% endif %}

           {% if page.ref == "privacy" or page.ref == "data-intensive-tech" %}
           <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-laptop-back.svg" alt="Catnip with laptop from the back" width="170" />
           {% endif %}

           {% if page.ref == "surveillance" or page.ref == "cybersecurity" %}
           <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-inspecting-packet.svg" alt="Catnip inspecting packet" width="170" />
           {% endif %}

           {% if page.ref == "connectivity" or page.ref == "internet-of-things" %}
           <img src="{{ site.url}}/assets/images/catnip-mallory/catnip-reading.svg" alt="Catnip reading" width="170" />
           {% endif %}
           </p>
        </div>
    </div>
</div>
<div class="section" id="post-list">
    <div class="section-content grid">
        {% for tag in site.tags %}
           {% for post in tag[1] %}
               {% include post_loop.html %}
           {% endfor %}
        {% endfor %}
    </div>
</div>
{% include footer.html %}
