{% include header.html %}
<div class="section" id="content">
    <div class="section-content grid" id="viz-intro">
    {% include site-header.html %}
    {% include breadcrumbs.html %}
    {{ content }}
    </div>

    <div class="section-content grid" id="viz-actions">
        <select id="or" class="select" onchange="setORG(this)">
        {% assign items = site.data.orgs %}
            <option>Select an SDO</option>
        {% for item in items %}
            <option {% if page.url == item.slug %} selected{% endif %} value="{{ item.slug }}">
                {{ item.name }}
            </option>
        {% endfor %}
        </select>

        <select id="wg" class="select" onchange="setWG(this)">
        {% assign items = site.data.wgs %}
            <option>Select a Working group</option>
        {% for item in items %}
            <option {% if page.url == item.slug %} selected{% endif %} value="{{ item.slug }}">
                {{ item.name }}
            </option>
        {% endfor %}
        </select>
        <p>
            <a href="{{ site.url }}/group/" id="wglink" title="What is this?"><b id="wgname">WG Name<b></a>
        </p>
        <img id="wglogo" class="logo" src="{{ site.url }}/assets/images/groups/" alt="" />
    </div>

    <div id="viz-display">
        <div class="section-content">
            <h3>Authorship</h3>
            <div id="plotlyAuthorship" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3>Influence</h3>
            <div id="plotlyInfluence" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3>Leadership</h3>
            <div id="plotlyLeadership" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>
    </div>
</div>
{% include footer.html %}
