{% include header.html %}
<div class="section" id="content">
    <div class="section-content grid" id="viz-intro">
        {% include site-header.html %}
        {% include breadcrumbs.html %}
        {{ content }}
        <div class="post">
            <img id="wglogo" class="img-wg" src="{{ site.url }}/assets/images/groups/" title="" alt="" /><!-- JS filled -->
            <h2 class="post-title">
                <a href="{{ site.url }}/group/" id="wglink" title="Learn more about this working group"><b id="wgname">WG Name</b></a>
            </h2>
        </div>
    </div>

    <div class="section-content grid" id="viz-actions">
        <select id="wg" class="select" onchange="setWG(this)">
        {% assign items = site.data.wgs %}
            <option>Choose dashboard</option>
            {% for item in items %}
                <option {% if page.url == item.slug %} selected{% endif %} value="{{ item.slug }}">
                    {{ item.name }}
                </option>
                {% if item.wg %}
                    {% for entry in item.wg %}
                    <option {% if page.url == entry.slug %} selected{% endif %} value="{{ entry.slug }}">
                        {{ item.name }} - {{ entry.name }}
                    </option>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div id="viz-display">
        <div class="section-content">
            <h3>Authorship</h3>
            <div id="plotlyAuthorship" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3>Influence</h3>
            <div id="plotlyInfluence" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>

        <div class="section-content">
            <h3>Leadership</h3>
            <div id="plotlyLeadership" class="plotlyRender"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
        <span class="spacer"></span>
    </div>
</div>
{% include footer.html %}
